.login-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: $black;

    input[type = text], input[type = password] {
        width: 50%;

        padding: 0.5rem 0.5rem;
        
        background: $secondary;
        border: solid 1px rgba(255, 255, 255, 0.5);
        border-radius: $rounded-s;

        font-size: 1.05rem;

        &:focus {
            outline: none;
        }
    }

    button {
        @include btn;
    }
}